*.log
*results.json
*results*.json
*.pyc
*.out
nohup.out
*.out
events*
*hparams.yaml
ckpt/
*checkpoints*
__pycache__
*work_dirs*
*batchscript*
build
*egg-info*
*cpython*
collect_data_json/*.json
dataset/town??_??
*dataset_metadata.pkl*
closed_loop_eval_log/eval_log/*
*old_version*